header {
    font-family: "Poiret One", sans-serif;
    background-color:#5f94ae ;

}

main {
    font-family: "Dongle", sans-serif;
    background-color: #b7dffd;
    padding:auto;
    margin:auto;
    text-align:left;
}

footer {
    background-color:#86a8b2;
}
 /*Website color palette: #b7dffd #5f94ae #9be1cd #62a999 #86a8b2 */

 /* General style */
 body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
 }

 .button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #62a999;
    text-align: center;
    border: none;
    border-radius: 5px;
    text-decoration: none;
}

.button:hover {
    background-color: #9be1cd; 
}