@import url('https://fonts.googleapis.com/css2?family=Dongle&family=Poiret+One&display=swap');
header {
    font-family: "Poiret One", sans-serif;
    background-color:#5f94ae ;

}

main {
    font-family: "Dongle", sans-serif;
    background-color: #b7dffd;
    padding:15px;
    text-align:left;
}

footer {
    background-color:#86a8b2;
}
 /*Website color palette: #b7dffd #5f94ae #9be1cd #62a999 #86a8b2 */

 /* General style */
 body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
 }

 .responsive-image {
    width:100%;
    height:auto;
    max-width:100%;
    display:block;
 }

 .button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #62a999;
    text-align: center;
    border: none;
    border-radius: 5px;
    text-decoration: none;
}

.button:hover {
    background-color: #9be1cd; 
}

.exrecises-container {
    display:flex;
    margin:auto;
    flex-direction:column;
    align-items:center;
}

ul.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #86a8b2;
}

ul.navbar li {
    float: left;
}

ul.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

ul.navbar li a:hover {
    background-color: #555;
}
